@import '../utils/variables.scss';



header{
  background-color: $beige;
  width: 90%;
  margin: auto;
}
h1 {
  text-align: center;
  color: $yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $lb;
}

#inicio {
  width: 15%;
}


@media screen and (max-width: 750px) {
  header{
    width: 100%;
    margin: auto;
  }
  #inicio {
    width: 25%;
  }
}

@media screen and (max-width: 500px) {
  
  #inicio {
    width: 35%;
  }
}