@import '../utils/variables.scss';



header{
  background-color: $beige;
  width: 90%;
  margin: auto;
}
h1 {
  text-align: center;
  color: $yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $lb;
}

#inicio {
  width: 15%;
}
