@import './variables.scss';


@mixin standard-component{
    background: url('../../assets/fondo.png') ;
    background-position: absolute; 
    background-size: cover;
    background-repeat:repeat-y;
    z-index: -1;
    min-height:85vh;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

